<div id="user_info_header">
	<div id="user_info_header_left">
			<h1><%= @photo.name %></h1>
			Uploaded by <%=link_to @photo.owner.name, @photo.owner %> <%= time_ago_in_words(@photo.created_at) %> ago
	</div>
</div>

<div id="individual_photo">
	<%= link_to image_tag(@photo.image.url, :size => "300x300"), @photo.image.url, :rel => "lightbox", :title => @photo.name %>
	<div id="likes_and_comments">
		<div id="likes">
		<% if signed_in? %>
			<% if current_user.liked?(params[:id]) %> 
				<%= link_to "UNLIKE PHOTO",{:controller => :likes, :action => :destroy, :photo_id => params[:id]}, :method => :delete, :class => "like_link" %>
				<p><%= @photo.like_message(:liked)%> | <%= link_to "View all likes", photo_likes_path(@photo) %> </p>
			<% else %>
				<%= link_to "LIKE PHOTO",{:controller => :likes, :action => :create, :photo_id => params[:id] }, :method => :post, :class => "like_link" %>
				<p><%= @photo.like_message(:not_liked)%> | <%= link_to "View all likes", photo_likes_path(@photo) %></p>
			<% end %>
		<%else%>
				<p><%= @photo.like_message(:not_liked)%> | <%= link_to "View all likes", photo_likes_path(@photo) %></p>
		<%end%>
		</div>
                <div id="tags">
			<% if @photo.tags %>
			<ul>
				<% @photo.tags.each do |tag| %>
					<li><%= link_to tag.name, tag %></li>	
				<% end %>
			</ul>			
			<% end %>
		</div>
		<div id="comments">
			<%= form_for([@photo, @comment]) do |f| %>
				<%= render 'shared/error_msgs.html.erb', object: f.object %>
	
	      			<%= f.text_area :text %>
				<%= f.submit "Post Comment" %>
			<% end %>
			<ul>
			<% @photo.comments.each do |comment| %>
				<% if comment.text.length > 0 %>
					<li><p><b><%= link_to comment.user.name, comment.user %> says:</b></p>
						<p><%= comment.text %></p>
					</li>
				<% end %>

			<% end %>
			
			</ul>
		</div>
	</div>
	<div id="for_clearing">
	</div>
</div>
