<div id="user_info_header">
	<div id="user_info_header_left">
			<h1><%= @photo.name %></h1>
			Uploaded by <%=link_to @photo.owner.name, @photo.owner %> <%= time_ago_in_words(@photo.created_at) %> ago
	</div>
</div>

<div id="individual_photo">
	<%= image_tag get_photo(@photo, "original"), :size => "300x300" %>
	<div id="likes_and_comments">
		<div id="likes">
		<% if signed_in? %>
			<% if current_user.liked?(params[:id]) %> 
			<%= link_to "Unlike photo".upcase,{:controller => :likes, :action => :destroy, :photo_id => params[:id], :user_id => current_user.id}, :method => :delete, :class => "like_link" %>
			<p style="font-size:13px"><%= @photo.like_message(:liked)%> </p>
			<% else %>
				<%= link_to "Like photo".upcase,{:controller => :likes, :action => :create, :photo_id => params[:id]}, :method => :post, :class => "like_link" %>
				<p><%= @photo.like_message(:not_liked)%></p>
			<% end %>
		<%else%>
				<p><%= @photo.like_message(:not_liked)%></p><%= link_to "View all likes", photo_likes_path(@photo) %>
		<%end%>
		
		</div>
		<div id="comments">
		</div>
	</div>
	<div id="for_clearing">
	</div>
</div>
