<div id="user_info_header">
	<div id="user_info_header_left">
			<h1><%= @photo.name %></h1>
			Uploaded by <%=link_to @photo.owner.name, @photo.owner %> <%= time_ago_in_words(@photo.created_at) %> ago
	</div>
</div>

<div id="individual_photo">
	<%= image_tag get_photo(@photo, "original"), :size => "300x300" %>
	<div id="likes_and_comments">
		<div id="likes">
		<% if signed_in? %>
			<% if current_user.liked?(params[:id]) %> 
			<%= link_to "Unlike photo".upcase,{:controller => :likes, :action => :destroy, :photo_id => params[:id], :user_id => current_user.id}, :method => :delete, :class => "like_link" %>
			<p style="font-size:13px"><%= @photo.like_message(:liked)%> | <%= link_to "View all likes", photo_likes_path(@photo) %> </p>
			<% else %>
				<%= link_to "Like photo".upcase,{:controller => :likes, :action => :create, :photo_id => params[:id] }, :method => :post, :class => "like_link" %>
				<p><%= @photo.like_message(:not_liked)%> | <%= link_to "View all likes", photo_likes_path(@photo) %></p>
			<% end %>
		<%else%>
				<p><%= @photo.like_message(:not_liked)%> | <%= link_to "View all likes", photo_likes_path(@photo) %></p>
		<%end%>
		
		</div>
		<div id="comments">
			<%= form_for([@photo, @comment]) do |f| %>
				<%= render 'shared/error_msgs.html.erb', object: f.object %>
	
	      			<%= f.text_area :text %>
				<%= f.submit "Post Comment" %>
			<% end %>
			<ul>
			<% @photo.comments.each do |comment| %>
				<% if comment.text.length > 0 %>
					<li><p><b><%= link_to comment.user.name, comment.user %> says:</b></p>
						<p><%= comment.text %></p>
					</li>
				<% end %>

			<% end %>
			
			</ul>
		</div>
	</div>
	<div id="for_clearing">
	</div>
</div>
