<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>	
	<header id="header">
		<div id = "header_logo">
			<p style="color:white;font-family: Tahoma, Geneva, sans-serif;font-size:20px;">ThisPunx.</p>
		</div>
		<div id = "header_content">
			<ul>
				<% if signed_in? %>
					<li><%= link_to "Home", root_path %></li>
					<!--<li><%= link_to "Upload photo", new_photo_path %></li>-->
					<li><%= link_to "Other Users", users_path %></li>
					<li><%= link_to @current_user.name, current_user %></li>
					<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Sign In", signin_path %></li> 
				<% end %>
			</ul>
		</div>
	</header>

	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>">
			<%= value %>
		</div>
	<% end %>
	<% if signed_in? %>
		<div id="side_nav_bar">
			<ul style="list-style-type:none;font-size:20px;">
				<li><%= link_to "HOME", root_path %></li>
				<li><%= link_to "MY PROFILE", current_user %></li>
				<li><%= link_to "MY FRIENDS (#{current_user.number_of_friends})", friends_user_path(current_user) %></li>
				<li><%= link_to "FRIEND REQUESTS (#{current_user.friend_requests.count})", my_friend_requests_path %></li>
				<li><%= link_to "UPLOAD PHOTOS", new_photo_path %></li>

			</ul>
		</div>
	<% end %>
	<div id = "content">
		<%= yield %>
	</div>

</body>
</html>
